*{
    margin:0;
    padding:0;
    font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Quicksand', sans-serif;

}
button{
position:relative;
    font-size: 24px;
    top:120px;
    left: 600px;
    height:35px;
    width:150px;
    text-align: center;
    border-radius: 14px;
    border:none;
    
}
.hole1{
    margin:00px 0 300px 0;
    height:400px;
    width:1582px;
}
.tag3{
    background-image: url("./Remote\ team-rafiki.svg");
    height:800px;
    width:700px;
    position: relative;
    float: right;
    border:none;

}
.font2{
    font-size: 43px;
    position: absolute;
    margin:150px 0 200px 260px;
    height:600px;
}

input[type=email]
{
    position: relative;
    margin:300px 0 0 300px ;
    height:35px;
    width: 320px;
    font-size:18px;
    transition:all 0.1s linear 0.1s;
    outline:none;
    
}
input[type=email]:hover{
    height:45px;
    width:340px;
}

input[type=password]{

    position: relative;
    margin:00px 0 0 300px ;
    height:35px;
    width: 320px;
    font-size:18px;
    transition: all 0.1s linear 0.1s;
    outline: none;
}
input[type=password]:hover{
    height:45px;
    width:350px;
}
input[type=submit]{
position: relative;
margin:00px 0 0 300px ;
height:55px;
width: 320px;
color: white;
background-color: #2c2efb;
border:none;
font-size:24px;
cursor: pointer;
border-radius: 12px;
outline: none;
transition: all 0.1s linear 0.1s;

}
input[type=submit]:hover{
    height:60px;
    width:325px;
}
.font3{
    position: relative;
    margin-left: 450px;
    font-size:18px;

}
input[type=text]{
    position: relative;
    margin: 10px 0 0 300px;
    height:55px;
width: 320px;
color: white;
font-size:18px;
transition: all 0.1s linear 0.1s;
}
input[type=text]:hover{
    height:60px;
    width:325px;

}
.tag4{
    height:700px;
    width:1582px;
    background-color: #ced4da;
    padding-left: 000px;
    position: relative;
    margin-top:40px;
}
.font4{
    position:absolute;
    font-size: 56px;
    margin:100px 0 0 700px;
}
#tag5{

    background-image: url("./Code\ review-cuate.svg");
    height:500px;
    width:500px;
    position: absolute;
    margin:50px 00 0 0 ;
    float:left
}
.tag6{
    position: relative;
    float: right;
    display: inline;
}
input[type=button]{
    position: relative;
    height:45px;
    width:220px;
    margin:10px;

    background-color: #495057;
    color: white;
    border-radius: 20px;
    border:none;
  font-size: 18px;
  
}
.tag6{
    position: relative;
    left:800px;
    top:200px;
    
}
.tag7{
    background-color: #f8efc5;
    height:700px;
    width:1582px;
    
}
.im1{
    background-image: url("./Remote\ team-pana.svg");
    height:300px;
    width:470px;
    position:absolute;
    margin:100px 0 0 200px;
   }
.font5{
    position: absolute;
    font-size: 48px;
    margin:400px 0 0 250px;

}
.im2{
    background-image: url("./Job\ offers-pana\ \(1\).svg");
    height:300px;
    width:460px;
    position: absolute;
    float: right;
    margin: 100px 00px 0 900px;
}
.font6{

    position: absolute;
    font-size: 48px;
    margin:400px 0 0 850px;

}
.tag9{
    background-color: whitesmoke;
    height:500px;
    width:1582px;
    position:absolute;
    margin-top:000px;
    
}
#img1{
    position:relative;
    margin:100px 0 0 100px;
    
    
}
#img2{
    position:absolute;
    margin:100px 0 0 250px;
   
    
}
#img3{
    position:absolute;
    margin:100px 0 0 740px;

}
#nm1{
    font-size:32px;
    position: relative;
    top:40px;
    right:180px;

  }
  #nm2{
    font-size:32px;
    position: relative;
    top:40px;
    left:340px;
  }
  #nm3{
    font-size:32px;
    position: relative;
    top:40px;
    left: 850px;

  }

